<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/error.css" />
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="error"></div>
        <div class="error_number">500</div>
        <div class="error_reason">Server Error</div>
        <div class="error_des">You've encountered an error. Please refresh the page, or try again later.</div>
        <div class="error_work">We're working on fixing this, sorry for the inconvenience!</div>
    </div>
<%- include('includes/end.ejs') %>