<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/result.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main class="background">
        <h1 class="heading">Start Typing White Typer!</h1>
        <div class="keybord"><img src="/images/keybord.png" alt="keybord"></div>
    </main>
<%- include('includes/end.ejs') %>