.form-control {
  margin: 3rem 0;
  color: #0ec2ad;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}

.btn{
  border-radius: 10px;
  padding: 8px 24px;
  font-size: 16px;
  outline: none;
  color: #0ec2ad;
}
.btn:hover{
  background-color: #0ec2ad;
  color: black;
}

.login-form{
  font-size: 18px;
}